.pagehead {
  position: absolute;
  top: 29vh;
  width: 100%;
  text-align: center;
  color: #0077bb;
  font-size: 9rem;
  opacity: 0.3;
}
.pagehead-outline {
  position: absolute;
  top: 29vh;
  width: 100%;
  color: transparent;
  text-align: center;
  font-size: 9rem;
  /* text-shadow: 1px 1px 3px #0077bb; */
  text-stroke: 2px #fff;
  -webkit-text-stroke: 2px #fff;
}
